---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CI Board">
	<main class="flex flex-col items-center">
		<h1 class="text-4xl">Welcome to <span class="text-gradient">CI Board</span></h1>
	</main>
</Layout>
