---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>Hello World</h1>
  <div class="flex flex-row gap-4 h-screen w-full">
    <section class="flex-1 h-full">
      <h2>Section 1</h2>
      <div
        id="body"
        class="flex flex-col gap-y-2 w-full bg-blue-200 p-2 border rounded"
      >
        <h2>body</h2>
        <div id="body-controls" class="flex gap-2 justify-center items-center">
          <input
            class="px-2 py-1 border rounded"
            type="text"
            placeholder="Texto 1"
          />
          <input
            class="px-2 py-1 border rounded"
            type="text"
            placeholder="Texto 2"
          />
        </div>
        <div id="body-children">
          <div
            id="container"
            class="flex flex-col gap-y-2 w-full bg-amber-200 p-2 border rounded"
          >
            <h2>container</h2>
            <div
              id="container-controls"
              class="flex gap-x-2 justify-center items-center"
            >
              <input
                class="px-2 py-1 border rounded"
                type="text"
                placeholder="Texto 1"
              />
              <input
                class="px-2 py-1 border rounded"
                type="text"
                placeholder="Texto 2"
              />
            </div>
            <div id="container-children">
              <div
                id="section-1"
                class="flex flex-col gap-y-2 w-full bg-orange-200 p-2 border rounded"
              >
                <h2>section-1</h2>
                <div
                  id="section-1-controls"
                  class="flex gap-x-2 justify-center items-center"
                >
                  <input
                    class="px-2 py-1 border rounded"
                    type="text"
                    placeholder="Texto 1"
                  />
                  <input
                    class="px-2 py-1 border rounded"
                    type="text"
                    placeholder="Texto 2"
                  />
                </div>
                <div id="section-1-children">
                  <div
                    id="image-1"
                    class="flex flex-col gap-y-2 w-full bg-green-200 p-2 border rounded"
                  >
                    <h2>image-1</h2>
                    <div
                      id="image-1-controls"
                      class="flex gap-x-2 justify-center items-center"
                    >
                      <input
                        class="px-2 py-1 border rounded"
                        type="text"
                        placeholder="Texto 1"
                      />
                      <input
                        class="px-2 py-1 border rounded"
                        type="text"
                        placeholder="Texto 2"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <label
        ><textarea id="data" class="w-full h-full p-2" placeholder="Data"
        ></textarea></label
      >
    </section>
    <section class="flex-1 h-full">
      <h2>Section 2</h2>
      <iframe class="w-full h-full" id="code"></iframe>
    </section>
  </div>
</Layout>

<script>
  const code = document.getElementById("code") as HTMLIFrameElement;
  const area = document.getElementById("data") as HTMLTextAreaElement;

  const pushState = history.pushState;

  function handleUrlChange() {
    console.log(
      "Query params cambiaron:",
      new URLSearchParams(window.location.search).toString(),
    );
  }

  history.pushState = function (...args) {
    pushState.apply(history, args);
    handleUrlChange();
  };

  area.addEventListener("input", async function () {
    try {
      const textAreaValue = area.value;
      const jsonObject = JSON.parse(textAreaValue);
      const body = JSON.stringify(jsonObject, null, 0);
      const response = await fetch("/api/render", {
        method: "POST",
        body,
        headers: {
          "Content-Type": "application/json",
        },
      });
      const data = await response.json();

      code.setAttribute("srcdoc", data.render);
      history.pushState({}, "", `?param=${btoa(body)}`);
    } catch (e) {
      console.log("error", e);
    }
  });
</script>
