---
import Pencil from "@/components/icons/pencil.svg";
import Photo from "@/components/icons/photo.svg";
import Button from "@/components/icons/button.svg";
import Heading from "@/components/icons/heading.svg";
import Separator from "@/components/icons/separator.svg";
---

<>
  <button
    id="text"
    class="p-3 rounded-2xl border-2 border-gray-200 overflow-hidden"
    draggable="true"
  >
    <Pencil class="size-5 text-gray-600" />
  </button>
  <button
    id="image"
    class="p-3 rounded-2xl border-2 border-gray-200 overflow-hidden"
    draggable="true"
  >
    <Photo class="size-5 text-gray-600" />
  </button>
  <button
    id="button"
    class="p-3 rounded-2xl border-2 border-gray-200 overflow-hidden"
    draggable="true"
  >
    <Button class="size-5 text-gray-600" />
  </button>
  <button
    id="heading"
    class="p-3 rounded-2xl border-2 border-gray-200 overflow-hidden"
    draggable="true"
  >
    <Heading class="size-5 text-gray-600" />
  </button>
  <button
    id="separator"
    class="p-3 rounded-2xl border-2 border-gray-200 overflow-hidden"
    draggable="true"
  >
    <Separator class="size-5 text-gray-600" />
  </button>
</>

<script>
  const draggableElement = document.querySelectorAll(
    'button[draggable="true"]',
  ) as NodeListOf<HTMLButtonElement>;

  draggableElement.forEach((element) => {
    element.addEventListener("dragstart", (event: DragEvent) => {
      const target = event.target as HTMLElement;
      event.dataTransfer?.setData(
        "object",
        JSON.stringify({
          status: "ok",
          number: target.innerText,
          action: target.id,
        }),
      );
    });
    // element.addEventListener("dragend", (event) => console.log("end", event));
  });
</script>
